body{
    background-color: #e2e4e5;
}
.header{
    font-family: 'Lato', sans-serif;
    text-shadow:0 0 4px #9b0800;
    font-size: 29px;
    font-weight: 900;
    background-color: #eceff1;
    width: 100%;
    text-align: center;
    height: 80px;
    margin-top: 1em;
}
.country{
    margin-top: 7px;
}
.pakistan,.portugal,.srilanka,.turkey,.germany,.spain{
    float: left;
    margin-left: 7em;
    margin-top: 3em;
    text-align: center;
}
.p1{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    margin-top: 0px;
}
.pakistan:hover,.portugal:hover,.srilanka:hover,.turkey:hover,.germany:hover,.spain:hover{
    background-color: #eceff1;
    color: #ed4630;
    cursor: pointer;
}